<select data-lang="hello world" id="voiceselection">
  <option value="UK English Female" data-lang="en">
    UK English Female
  </option>
  <option value="UK English Male" data-lang="en">
    UK English Male
  </option>
  <option value="US English Female" data-lang="en">
    US English Female
  </option>
  <option value="Arabic Male" data-lang="ar">
    Arabic Male
  </option>
  <option value="Arabic Female" data-lang="ar">
    Arabic Female
  </option>
  <option value="Armenian Male" data-lang="hy">
    Armenian Male
  </option>
  <option value="Australian Female" data-lang="en">
    Australian Female
  </option>
  <option value="Brazilian Portuguese Female" data-lang="pt">
    Brazilian Portuguese Female
  </option>
  <option value="Chinese (Simplified) Female" data-lang="zh-CN">
    Chinese Female
  </option>
  <option value="Chinese (Hong Kong) Female" data-lang="zh-TW">
    Chinese (Hong Kong) Female
  </option>
  <option value="Chinese Taiwan Female" data-lang="zh-TW">
    Chinese Taiwan Female
  </option>
  <option value="Czech Female" data-lang="cs">
    Czech Female
  </option>
  <option value="Danish Female" data-lang="da">
    Danish Female
  </option>
  <option value="Deutsch Female" data-lang="de">
    Deutsch Female
  </option>
  <option value="Dutch Female" data-lang="de">
    Dutch Female
  </option>
  <option value="Finnish Female" data-lang="fi">
    Finnish Female
  </option>
  <option value="French Female" data-lang="fr">
    French Female
  </option>
  <option value="Greek Female" data-lang="el">
    Greek Female
  </option>
  <option value="Hindi Female" data-lang="hi">
    Hindi Female
  </option>
  <option value="Hungarian Female" data-lang="hu">
    Hungarian Female
  </option>
  <option value="Indonesian Female" data-lang="id">
    Indonesian Female
  </option>
  <option value="Italian Female" data-lang="it">
    Italian Female
  </option>
  <option value="Japanese Female" data-lang="ja">
    Japanese Female
  </option>
  <option value="Korean Female" data-lang="ko">
    Korean Female
  </option>
  <option value="Latin Female" data-lang="la">
    Latin Female
  </option>
  <option value="Norwegian Female" data-lang="no">
    Norwegian Female
  </option>
  <option value="Polish Female" data-lang="pl">
    Polish Female
  </option>
  <option value="Portuguese Female" data-lang="pt">
    Portuguese Female
  </option>
  <option value="Romanian Male" data-lang="ro">
    Romanian Male
  </option>
  <option value="Russian Female" data-lang="ru">
    Russian Female
  </option>
  <option value="Slovak Female" data-lang="sk">
    Slovak Female
  </option>
  <option value="Spanish Female" data-lang="es">
    Spanish Female
  </option>
  <option value="Spanish Latin American Female" data-lang="es">
    Spanish Latin American Female
  </option>
  <option value="Swedish Female" data-lang="sv">
    Swedish Female
  </option>
  <option value="Tamil Male" data-lang="ta">
    Tamil Male
  </option>
  <option value="Thai Female" data-lang="th">
    Thai Female
  </option>
  <option value="Turkish Female" data-lang="tr">
    Turkish Female
  </option>
  <option value="Afrikaans Male" data-lang="af">
    Afrikaans Male
  </option>
  <option value="Albanian Male" data-lang="sq">
    Albanian Male
  </option>
  <option value="Bosnian Male" data-lang="bs">
    Bosnian Male
  </option>
  <option value="Catalan Male" data-lang="ca">
    Catalan Male
  </option>
  <option value="Croatian Male" data-lang="hr">
    Croatian Male
  </option>
  <option value="Czech Male" data-lang="cs">
    Czech Male
  </option>
  <option value="Danish Male" data-lang="da">
    Danish Male
  </option>
  <option value="Esperanto Male" data-lang="eo">
    Esperanto Male
  </option>
  <option value="Finnish Male" data-lang="fi">
    Finnish Male
  </option>
  <option value="Greek Male" data-lang="el">
    Greek Male
  </option>
  <option value="Hungarian Male" data-lang="hu">
    Hungarian Male
  </option>
  <option value="Icelandic Male" data-lang="is">
    Icelandic Male
  </option>
  <option value="Latin Male" data-lang="la">
    Latin Male
  </option>
  <option value="Latvian Male" data-lang="lv">
    Latvian Male
  </option>
  <option value="Macedonian Male" data-lang="mk">
    Macedonian Male
  </option>
  <!--

  <option value="Moldavian Male" data-lang="en">
    Moldavian Male
  </option>
   <option value="Montenegrin Male" data-lang="en">
    Montenegrin Male
  </option>
  -->

  <option value="Norwegian Male" data-lang="no">
    Norwegian Male
  </option>
  <option value="Serbian Male" data-lang="sr">
    Serbian Male
  </option>
  <option value="Slovak Male" data-lang="sk">
    Slovak Male
  </option>
  <option value="Swahili Male" data-lang="sw">
    Swahili Male
  </option>
  <option value="Swedish Male" data-lang="sv">
    Swedish Male
  </option>
  <option value="Vietnamese Male" data-lang="vi">
    Vietnamese Male
  </option>
  <option value="Welsh Male" data-lang="cy">
    Welsh Male
  </option>
  <option value="US English Male" data-lang="en">
    US English Male
  </option>
  <option value="Fallback UK Female" data-lang="en">
    Fallback UK Female
  </option>
</select>
<script>

</script>
